@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

nav img{
    width: 150px;
}



.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 8px 12px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff9e01;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.name-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.name-box h1{
    font-size: 62px;
    color: #ff9e01;
}

.name-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.go-btn {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.go-btn:hover{
    border: 1px solid #ff9e01;
    background: #ff9e01;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    * {
        overflow-x: hidden;
    }

    .name-box h1 {
        font-size: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #ff9e01;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }


}

.activities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0 0;
}

.activities h1 {
    font-size: 40px;
}

.activities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 0;
    text-align: center;
}

.activities-col img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: 0.5s;
}

.activities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: #00045d;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-col img:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px){
    .row {
        flex-direction: column;
    }

    .activities h1 {
        font-size: 30px;
    }
}

.cert {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0 0;
}

.cert h1{
    font-size: 40px;
}

.cert-col{
    flex-basis: 32%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0;
}

.cert-col img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
}

.cert-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
    color: #00045d;
}

.cert-col img:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px){
    .cert h1{
        font-size: 30px;
    }
}

.project {
    width: 80%;
    padding: 50px 0 0;
    margin: auto;
    text-align: center;
}

.project h1 {
    font-size: 40px;
}

.project-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.project-col img{
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(244, 242, 230, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 600;
    color: #00045d;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


@media (max-width: 700px){
    .project h1{
        font-size: 30px;
    }

    .fas {
        font-size: 30px;
    }
    
}

.fas {
    color: #ff9e01;
}

.footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #f4f2e6;
}

.footer h4 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}

.icons .fab {
    color: #ff9e01;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 28px;
    margin-bottom: 20px;
}

.footer p {
    font-size: 20px;
}

@media(max-width: 700px){
    .footer h1{
        font-size: 15px;
    }

    .icons .fab {
        font-size: 30px;
    }

    .footer p {
        font-size: 14px;
    }
}

.profile {
    width: 80%;
    padding: 50px 0 0;
    margin: auto;
    text-align: center;
}

.profile h1 {
    font-size: 40px;
}

.about-col img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    flex-basis: 40%;
    border: 10px solid #f4f2e6;
    margin-left: 100px;
}

.about-txt {
    
    
    flex-basis: 60%;
    margin-left: 180px;
    
}

.about-txt h3 {
    text-align: left;
    font-size: 28px;
    margin: 10px;
}

.about-txt h4 {
    text-align: left;
    font-size: 27px;
    margin: 10px;
}

.about-txt p {
    text-align: left;
    font-size: 25px;
    margin: 10px;
}

.contact a {
    font-size: 40px;
    color: #6a011f;
    margin: 10px 15px;
}

.about-txt  span {
    color: #ff9e01;
}

@media(max-width: 1024px) {
    .about-col img {
        width: 280px;
        height: 280px;
        border: 5px solid #f4f2e6;
        margin-left: 0;
    }

    .about-txt {
        margin-left: 0;
    }
}

@media(max-width: 800px) {
    .about-col img {
        width: 250px;
        height: 250px;
        border: 5px solid #f4f2e6;
        margin-left: 0;
    }

    .about-txt {
        margin-left: 20px;
    }

    .about-txt h3 {
        text-align: left;
        font-size: 21px;
        margin: 10px;
    }
    
    .about-txt h4 {
        text-align: left;
        font-size: 18px;
        margin: 10px;
    }
    
    .about-txt p {
        text-align: left;
        font-size: 20px;
        margin: 10px;
    }
    
    .contact a {
        font-size: 35px;
        margin: 10px 15px;
    }

}


@media(max-width: 700px) {
    .about-col img {
        width: 250px;
        height: 250px;
        border: 5px solid #f4f2e6;
        margin-left: 0;
    }

    .about-txt {
        margin-left: 0;
    }

    .about-txt h3 {
        text-align: center;
    }

    .about-txt h4 {
        text-align: center;
    }

    .about-txt p {
        text-align: center;
    }

    
}

html {
    scroll-behavior: smooth;
}



.skilldiv h3 {
    font-size: 30px;
    margin: 20px;
}

.skill {
    font-size: 60px;
    color: #6a011f;
}
.skill a .fab {
    overflow: hidden;
    padding: 0 15px;
}

@media (max-width: 700px) {
    

    .skilldiv h3{
        font-size: 25px;
    }

    .skill {
        font-size: 50px;
    }
    
}
